body{
 width: 400px;
    height: 200px;
    border: 1px solid;
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fpaliativo.org.br%2Fservico-terapia-dor-cuidados-paliativos-fcecon%2F&psig=AOvVaw0gXY3ehTx6Q1iHeNqIKeQ3&ust=1591948211583000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCPCs2rmj-ekCFQAAAAAdAAAAABAJ);
    background-repeat: no-repeat;
    background-position: bottom right;
}